# React / Vite
webshop-frontend/node_modules/
webshop-frontend/dist/
webshop-frontend/dist-ssr/
webshop-frontend/logs/
webshop-frontend/*.log
webshop-frontend/npm-debug.log*
webshop-frontend/yarn-debug.log*
webshop-frontend/yarn-error.log*
webshop-frontend/pnpm-debug.log*
webshop-frontend/lerna-debug.log*
webshop-frontend/*.local
webshop-frontend/.DS_Store

# Editor directories and files
webshop-frontend/.vscode/*
!webshop-frontend/.vscode/extensions.json
webshop-frontend/.idea
webshop-frontend/*.suo
webshop-frontend/*.ntvs*
webshop-frontend/*.njsproj
webshop-frontend/*.sln
webshop-frontend/*.sw?

# Rails
webshop-api/.bundle
webshop-api/.env*
webshop-api/log/*
webshop-api/tmp/*
!webshop-api/log/.keep
!webshop-api/tmp/.keep
webshop-api/tmp/pids/*
!webshop-api/tmp/pids/
!webshop-api/tmp/pids/.keep
webshop-api/storage/*
!webshop-api/storage/.keep
webshop-api/tmp/storage/*
!webshop-api/tmp/storage/
!webshop-api/tmp/storage/.keep
webshop-api/config/master.key

# Docker
db_data/
gem_cache/

# System
.DS_Store
*.swp
*.swo
.idea/
.vscode/
.env