# React
webshop-frontend/node_modules/
webshop-frontend/.pnp
webshop-frontend/.pnp.js
webshop-frontend/coverage
webshop-frontend/build
webshop-frontend/.DS_Store
webshop-frontend/.env.local
webshop-frontend/.env.development.local
webshop-frontend/.env.test.local
webshop-frontend/.env.production.local
webshop-frontend/npm-debug.log*
webshop-frontend/yarn-debug.log*
webshop-frontend/yarn-error.log*

# Rails
webshop-api/.bundle
webshop-api/.env*
webshop-api/log/*
webshop-api/tmp/*
!webshop-api/log/.keep
!webshop-api/tmp/.keep
webshop-api/tmp/pids/*
!webshop-api/tmp/pids/
!webshop-api/tmp/pids/.keep
webshop-api/storage/*
!webshop-api/storage/.keep
webshop-api/tmp/storage/*
!webshop-api/tmp/storage/
!webshop-api/tmp/storage/.keep
webshop-api/config/master.key

# Docker
db_data/
gem_cache/

# System
.DS_Store
*.swp
*.swo
.idea/
.vscode/
.env